*{
    padding: 0;
    margin: 0;
    border: 0;
}
.header{
    position: absolute;
    width: 651px;
    height: 26px;
    left: 152px;
    top: 45px;
}

.project{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 80% */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.projects{
    position: absolute;
    left: 270px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.about__us{
    position: absolute;
    left: 383px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.line1{
    position: absolute;
    left: 383px;
    top: 18px;
}
.stories{
    position: absolute;
    left: 493px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.contact{
    position: absolute;
    left: 592px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero{
    width: 1200px;
    height: 822px;
    background-image: url("./public/Desktop_Backgrounds_1920x1200_6\ 3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 426px;
    height: 292px;
    
}
.headline{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
}
.lorem{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
/* or 133% */
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.main{
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.section__headline{
    width: 669px;
    height: 119px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #464547;
}
.lorem-2{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: #666666;
}
.text-container{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-box1{
    margin-left: 150px;
    width: 408px;
    height: 172px;
    margin-right: 150px;
}
.text-box2{
    width: 416px;
    height: 172px;
    margin-right: 150px;

    
}
.p1{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    color: #666666;
}
.p2{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    color: #666666;
}
button{
    height: 36px;
    width: 115px;
    background: #55C2D8;
    border-radius: 18px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.learn__more-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    height: 637px;
    background-image: url("./public/IMG_1334_72dpi_RGB_\ 1.png")
}
.learn_more{
    width: 432px;
    height: 111.91px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}
.play__button{
    display: flex;
    align-items: center;
    justify-content: center;;
    width: 145px;
    height: 143.47px;
    background-image: url("./public/Ellipse\ 8.png");
}
.polygon{
    margin-left: 15px;
}
.lorem-3{
    width: 351px;
    height: 97.56px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 199px;
    width: 1200px;
    background: #464547;
}

.project_column{
    height: 199px;
    width: 350px
}

.direction_column{
    height: 199px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.rights_column{
    height: 199px;
}

.small-logo{
    height: 19.99867057800293px;
    width: 19.998672485351562px;
    margin-top: 37px;
    margin-left: 103px;
    border-radius: 0px;
}
.project-2{
    margin-top: 39px;
    margin-left: 10px;
    width: 92px;
    height: 16px;
    left: 189px;
    top: 2176px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.direction{
    width: 174px;
    height: 33px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    color: rgba(255, 255, 255, 0.4);
    margin-right: 310px;    
    margin-top: 20px;
}

.website{
    width: 174px;
    height: 33px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    color: rgba(255, 255, 255, 0.4);
    margin-right: 310px;  
    margin-bottom: 40px;
}

.rights_column{
    width: 230px;
    height: 22px;
    left: 822px;
    top: 2240px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    color: rgba(255, 255, 255, 0.4);
    margin-right: 120px;
    margin-top: 40px;    
}

